@model IEnumerable<Veterinary.Data.Entities.DocumentType>

@{
    ViewData["Title"] = "Index";
}

<h2>Document List</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>


<table class="table " >
    <thead class="table-borderless">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Document)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
