@model Veterinary.Models.ChangeUserViewModel
@{
    ViewData["Title"] = "ChangeUser";
}

<div class="container">
    <div class="justify-content-start">

        <a style="font-size: 40px"><i class="fa fa-user mr-2" style="color:green"></i>User Profile</a>

    </div>
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="wrapper">

                <div class="row no-gutters">
                    <div class="col-md-5 d-block align-items-lg-stretch pr-4">

                        <div class="card">
                            <div class="card-header bg-warning">
                                Profile picture
                            </div>
                            <div class="card-body bg-light ">
                                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                {

                                    <img src="@Url.Content(Model.ImageUrl)" id="imgpreview" alt="image" style="max-height:100%; max-width:100%; border-radius:10px; margin:auto; cursor:pointer" />
                                }
                                else
                                {
                                    <img src="../images/img.jpg" id="imgpreview" alt="image" style="max-height:100%; max-width:100%; border-radius:10px; margin:auto; cursor:pointer" />
                                }
                                <ejs-label ejs-for="LastName" type="text" placeholder="Last Name" floatLabelType="Auto"></ejs-label>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-7">


                        <div class="card-header bg-warning">
                            Profile Information
                        </div>

                        <div class="contact-wrap w-100 p-md-5 p-4">

                            <form asp-action="ChangeUser" method="post" name="contactForm" class="contactForm"
                                  enctype="multipart/form-data" id="form">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" id="id" />
                                <input type="hidden" asp-for="ImageUrl" />
                                <input type="hidden" asp-for="CreatedDate" />
                                @*<input type="hidden" value="@ViewBag.success" id="success" onchange="onchange()" />*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ejs-textbox ejs-for="FirstName" id="FirstName" type="text" placeholder="First Name" floatLabelType="Auto"></ejs-textbox>
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ejs-textbox ejs-for="LastName" id="LastName" type="text" placeholder="Last Name" floatLabelType="Auto"></ejs-textbox>
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <br />


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ejs-textbox ejs-for="Nationality" id="Nationality" placeholder="Nacionality" type="text" floatLabelType="Auto"></ejs-textbox>
                                        <span asp-validation-for="Nationality" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h3>Gender</h3>
                                        <ejs-radiobutton ejs-for="Gender" id="Gender" label="Male" value="M"></ejs-radiobutton>
                                        <ejs-radiobutton ejs-for="Gender" id="Gender1" label="Female" value="F"></ejs-radiobutton>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <ejs-textbox ejs-for="Address" id="Address" placeholder="Address" type="text" multiline="true" floatLabelType="Auto"></ejs-textbox>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ejs-textbox ejs-for="ZipCode" id="ZipCode" placeholder="Zip Code (0000-000)" type="text" floatLabelType="Auto"></ejs-textbox>
                                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ejs-textbox ejs-for="City" id="City" placeholder="City" type="text" floatLabelType="Auto"></ejs-textbox>
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ejs-textbox ejs-for="TaxNumber" id="TaxNumber" placeholder="Tax Number" type="text" floatLabelType="Auto"></ejs-textbox>
                                        <span asp-validation-for="TaxNumber" class="text-danger"></span>
                                    </div>
                                </div>

                                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Doctor"))
                                {
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox ejs-for="SSNumber" id="SSNumber" placeholder="Social Security Number" type="text" floatLabelType="Auto"></ejs-textbox>
                                            <span asp-validation-for="SSNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <ejs-dropdownlist id="SpecialtyID" ejs-for="SpecialtyID" dataSource="Model.Specialties" placeholder="Select a Specialty" floatLabelType="Auto" enabled="false">
                                                <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                                            </ejs-dropdownlist>
                                            <span asp-validation-for="SpecialtyID" class="text-danger"></span>
                                        </div>
                                    </div>
                                }


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ejs-dropdownlist id="DocumentTypeID" ejs-for="DocumentTypeID" dataSource="Model.Documents" placeholder="Select a document" floatLabelType="Auto">
                                            <e-dropdownlist-fields text="Description" value="Id"></e-dropdownlist-fields>
                                        </ejs-dropdownlist>
                                        <span asp-validation-for="DocumentTypeID" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ejs-textbox ejs-for="Document" id="Document" placeholder="Nº Document" type="text" floatLabelType="Auto"></ejs-textbox>
                                        <span asp-validation-for="Document" class="text-danger"></span>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ejs-textbox ejs-for="PhoneNumber" id="PhoneNumber" placeholder="Phone Number" type="text" floatLabelType="Auto"></ejs-textbox>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="datepicker">
                                        <ejs-datepicker ejs-for="SelectDate" format="dd-MM-yyyy" id="SelectDate" placeholder="Select a Date Of Birth" max="@DateTime.Now.AddYears(-3)" floatLabelType="Auto"> </ejs-datepicker>
                                        <span asp-validation-for="SelectDate" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-12" style="visibility:hidden">
                                    <div class="form-group">
                                        <label>Select a Image</label>
                                        <input asp-for="ImageFile" type="file" id="image" accept="image/*" />
                                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="Change User" class="btn btn-success" id="submit" />
                                        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Home</a>
                                        <a asp-action="ChangePassword" asp-controller="Account" class="btn btn-info">Change Password</a>
                                    </div>
                                </div>



                            </div>
                            </form>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

    function onchange() {
        var success = document.getElementById("success").value;
        alert(success);
        if (success==="Success") {

            swal("success");
        }
    }


    @*function updateUser() {

        var formData = new FormData();

        var fileInput = $('#image')[0].files[0];
        var gender = "";
        if (document.getElementById("Gender").checked == true) {
            gender = $('#Gender').val();
        }
        else if (document.getElementById("Gender1").checked == true) {

            gender = $('#Gender1').val();
        }

        var documentType = document.getElementById('DocumentTypeID').ej2_instances[0];
        alert("doc "+ documentType.value);

        //var specialty = "";
        //if (document.getElementById('SpecialtyID').ej2_instances[0] != null) {

        //    specialty = document.getElementById('SpecialtyID').ej2_instances[0];
        //    alert("spec "+specialty.value);
        //}
        //else {
        //    specialty.value = 1;
        //    alert("spec " + specialty.value);
        //}

        formData.append("Id", $('#id').val());
        formData.append("FirstName", $('#FirstName').val());
        formData.append("LastName", $('#LastName').val());
        formData.append("Nationality", $('#Nationality').val());
        formData.append("Gender", gender);
        formData.append("Address", $('#Address').val());
        formData.append("ZipCode", $('#ZipCode').val());
        formData.append("TaxNumber", $('#TaxNumber').val());
        formData.append("SSNumber", $('#SSNumber').val());

        if (document.getElementById('SpecialtyID').ej2_instances[0] != null) {

            formData.append("SpecialtyID", document.getElementById('SpecialtyID').ej2_instances[0].value);
        }

        formData.append("DocumentTypeID", documentType.value);
        formData.append("Document", $('#Document').val());
        formData.append("PhoneNumber", $('#PhoneNumber').val());
        formData.append("SelectDate", $('#SelectDate').val());
        if (document.getElementById("image").files[0]!= null) {
            formData.append("ImageFile", $('#image')[0].files[0]);
            alert("file");
        }


        $.ajax({
            type: "post",
            method:"post",
            url: '@Url.Action("ChangeUser","Account")',
            data: formData,
            //dataType: "json",
            processData: false,
            contentType: false,
            success: function (formData) {
                alert("success");
            },
            error: function (formData) {
                alert("error");
            }


        }).fail(function (result) {

            console.log(result);
            //alert("error");
        })
     }*@



    @*function updateUser () {
        alert("teste");

        var input = document.getElementById('image');
        var formData = new FormData();
        if (input!=null) {
            var files = input.files;
            alert("teste");
            for (var i = 0; i != files.length; i++) {
                formData.append("ImageFile", files[i].Value);
            }
            alert("teste 3");
        }
        alert($("#form").serialize());
        var Form = document.getElementById('form');
        var childs = Form.serialize();
        for (i = 0; i < childs.length; i++) {
            alert("", childs[i].value);
            var Value = childs[i].getAttribute('id').ej2_instances[0];
            formData.append(Value, childs[i].ej2_instances[0].value)

        }
        alert("teste 2");
        //formData.append($("#form").serialize())
        $.ajax({
           url: "@Url.Action("ChangeUser")",
           data: formData,
            type: "post",
            dataType:"json",
           success: function (response) {
              alert("sucesso");
           }

        });
     };*@

    </script>
