@model Veterinary.Models.NewAppointmentViewModel

<h4>Create Appointment </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <ejs-datepicker id="datepicker" ejs-for="SelectDate" placeholder="Seletc a Date" floatLabelType="Auto" format="dd-MM-yyyy" value="@DateTime.Now"
                                 min="@DateTime.Today"></ejs-datepicker>
                @*<label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />*@
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <ejs-timepicker id="timepicker" ejs-for="SelectTime" placeholder="Seletc a Time" floatLabelType="Auto" format="HH:mm" value="@DateTime.Now" 
                                max="@DateTime.Today.AddHours(-6).AddMinutes(-30)" min="@DateTime.Today.AddHours(-16)"></ejs-timepicker>
                @*<label asp-for="AppointmentTime" class="control-label"></label>
                <input asp-for="AppointmentTime" class="form-control" />*@
                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
            </div>
            
            @*<div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>*@
            
            <div class="form-group">
                <ejs-dropdownlist id="AnimalID" ejs-for="AnimalID" dataSource="Model.Animals" placeholder="Select an Animal" floatLabelType="Auto">
                    <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="form-group">
                <ejs-dropdownlist id="DoctorID" ejs-for="DoctorID" dataSource="Model.Doctors" placeholder="Select a Doctor" floatLabelType="Auto">
                    <e-dropdownlist-fields text="FullName" value="Id"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AppointmentList">Back to List</a>
</div>

